extends base
block content
    each result in results
        div
        p User id: #{result.user_id}
        p Day: #{result.day}
        p Start at: #{result.start_at}
        p End at: #{result.end_at}
